body{
    background-color: black;
}
h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: white;
}
.row{
    margin-top: 0%;
    height: 450px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.col{
    height: 400px;
    width: 240px;
   background-color: black;
   border: solid 2px white;
   border-radius: 4%;
 
}
img{
    height: 125px;
    width: 220px;
    margin-left: 8px;
    margin-top: 10px;
    border: solid 1px white;
    border-radius: 5%;
}
.fname{
    font: solid 20px;
    margin-left: 8px;
    color: white;
}
.par-ul{
    padding-left: 23px;
    color: white;
}
li{
    margin-bottom: 5px;
}
h5{
    margin-left: 10px;
    color: red;
}
a{
    text-decoration-line: none;
    color: white;
}
span{
    color: #990202;
    font-size: 60px;
}
div.sticky{
    position: sticky;
    top: 0;
    background-color: rgba(5, 5, 4, 0.8);
}